.line-clamp-2[data-v-86253876]{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}#projects .group[data-v-86253876]{opacity:1!important;transform:translateY(0)!important}
