.projectSection {
  text-align: center;
  padding-bottom: 10px;

  .projectTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: white;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .avatar {
    width: 150px; /* Default size */
    height: 150px;
    border-radius: 50%; /* Makes the image rounded */
    object-fit: cover; /* Ensures the image fits within the circle */
    margin: 20px auto; /* Adds space around the image */
    border: 3px solid white; /* Optional border for better visibility */
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1); /* Adds a hover effect */
    }

    @media (max-width: 768px) {
      width: 100px; /* Adjust size for smaller screens */
      height: 100px;
    }
  }

  .projectBadges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .projectBadge {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3B0201;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: white;
      transform: translateY(-3px);
      color: black;
    }

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  .projectSection {
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #f9fafb;
  }
  
  .projectTitle {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
    
    .projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1rem;
    width: 100%;

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 2rem;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 2rem;
    }

    @media (max-width: 768px) {
           grid-template-columns: repeat(2, 1fr);

      padding: 0 1rem;
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      padding: 0 1rem;
    }
    }
  
  .projectCard {
    width: 280px;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  .projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .projectImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .projectName {
    font-size: 1.2rem;
    font-weight: 600;
    color: #374151;
    padding: 1rem;
  }
  
}
